* {
    margin: 0px;
    padding: 0px;
}
header {
    height: 800px;

    background-image: url(/image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.cover {
    display: flex;
    flex-direction: column;
}
.navegation {
    height: 30px;
    background-color: rgb(203, 240, 240);
    margin-top: 10px;
    margin-left: 800px;
    width: 500px;
    border-radius: 20px;
    box-shadow:rgb(22, 72, 148) 3px 3px 15px 3px;
}
.navegation > ul {
    height: 40px;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
}
.navegation > ul li {
    list-style-type: none;
        
}

.navegation li a {
    font-size: 20px;
    color: rgb(54, 25, 5);
    font-family: 'Roboto', sans-serif;
}

.navegation ul li a:hover{
    color: rgb(160, 11, 56);
    font-family: 'Ubuntu', sans-serif;
}

.navegation > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
}
.hero {
    margin-top: 50px;
    text-align: center;
}
.hero > h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: rgb(211, 206, 206);
    box-shadow: rgb(29, 218, 139) 3px 3px 15px 3px;
    text-shadow: rgb(10, 79, 182) 3px 3px 15px 3px;
}

.article {
    background-color: rgb(233, 199, 155);
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 5px;
    margin-top: 350px;
    box-shadow:rgb(10, 79, 182) 3px 3px 15px 3px;
}
.article > p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}



/* ### Main ### */
main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

/* Seamreap */
.sr-card-layout {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    background-image: url(/image/bg-sr.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 700px; */
}
.sr-card img {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 1px;
}
.sr-card-layout > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgb(10, 79, 182) 3px 3px 15px 3px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    /* margin-top: 100px; */
}
.sr-card {
    margin: 50px;
    background-color: rgb(168, 223, 223);
    width: 300px;
    list-style-type: none;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: rgb(58, 209, 78) 3px 3px 15px 3px;
}
/* .sr-card-layout  li {
    list-style-type: none;
} */
.sr-card p {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}
.food-card-layout {
    
}
.sr-card-layout > h1 {
    margin-top: 100px;
}
.sr-card-layout > div > h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: rgb(230, 74, 13);
}


/* ### food ### */
.food-card img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 20px;
    box-shadow: rgb(241, 27, 27) 3px 3px 15px 3px;
}
.about-food-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 202, 212);
    border-radius: 10px;
}
.about-food-container div > h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 40px;
    color: rgb(235, 113, 14);
}
.food-card-layout > ul {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
}
.food-card {
    list-style-type: none;
    background-color: rgb(186, 243, 224);
    margin-left: 25px ;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    box-shadow:rgb(67, 84, 236) 3px 3px 15px 3px;
}
.food-card p {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
    line-height: 20px;
}


/* ### tour ### */
.tour-card img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 20px;
    box-shadow: rgb(241, 27, 27) 3px 3px 15px 3px;
}
.about-tourism-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 202, 212);
    border-radius: 10px;
}
.about-tourism-container div > h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 40px;
    color: rgb(235, 113, 14);
    text-align: center;
}
.tour-card-layout > ul {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
}
.tour-card {
    list-style-type: none;
    background-color: rgb(186, 243, 224);
    margin-left: 25px ;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    box-shadow:rgb(67, 84, 236) 3px 3px 15px 3px;
}
.tour-card p {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: justify;
    line-height: 25px;
    font-family: 'Ubuntu', sans-serif;
}

/* ### footer ### */
footer {
    margin-bottom: opx;
}
.footer-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(118, 126, 131, 0.966);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    
}
.footer-container li {
    list-style-type: none;
}
.contact {
    display: flex;
    flex-direction: row;
}
.contact-card {
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 40px;
}
.contact > h3 {
    margin-left: 100px;
    margin-top: 170px;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}
.contact > hr {
    margin-left: 100px;
    margin-top: 70px;
}
.media-card {
    display: flex;
    flex-direction: row;
    margin-right: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.media-card img {
    width: 60px;
    height: 60px;
    margin-right: 40px;
    box-sizing:red 1px 1px 5px 1px;
}




.copyright {
    height: 60px;
    text-align: center;
    background-color: rgb(78, 78, 194);
    margin-top: 20px;
}
.copyright > ul {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;

}
.copyright  li{
    list-style-type: none;
}
.copyright > ul hr {
    margin: 20px;
}
.copyright > ul hr {
    margin-top: 0%;
    margin-bottom: 0%; ;
}