

body {
    border: 0px;
    margin: 0px;
}
.nave {
     display: flex;
     flex-direction: column;
     /* newe */
     background-color: antiquewhite;
}
.nave li {
    list-style-type: none;
    font-size: 20px;
    margin: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}
ul li a{
    text-decoration: none;
    color: rgb(2, 22, 26);
    font-family: 'Ubuntu', sans-serif;
}
.nave ul li:hover{
    border-bottom: rgb(160, 11, 56) solid;
}
.nave ul li a:hover{
    color: rgb(160, 11, 56);
}
.nave > nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 238, 234);
    border-radius: 30px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 1px 1px 15px 1px;
}
.nave > nav {
    position: sticky;
    top: 0;
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
}
.bio {
    margin-top: 200px;
    margin-left: 150px;
    font-size: 45px;
}
.bio > p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.bio  h3 {
    line-height: 5px;
    font-family: 'Bebas Neue', cursive;
}

/* ### Logo ###### */
.logo {
    display: flex;
    flex-direction: column;
}
.logo > img {
    display: flex;
    width: 250px;
    height: 250px;
    background-color: rgb(230, 247, 247);
    border-radius: 125px;
    box-shadow:rgb(6, 93, 133) 3px 3px 15px 3px;
    margin-top: 100px;
    margin-right: 170px;
}
.logo > p {

}
.logo > h1 {
    margin-left: 70px;
}

 /* ######## AboutMe ########## */
main {
    margin-top: 200px;
    /* background-color: rgb(192, 212, 212); */
}
.about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(232, 236, 236);
    border-radius: 10px;
}
.profile {
    background-color: rgb(180, 241, 193);
    border-radius: 20px;
    margin-right: 80px;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow:  rgb(230, 106, 24) 3px 3px 15px 3px;
}
.profile > img {
    background-color: rgb(218, 228, 236);
    width: 200px;
    height: 200px;
    /* border-top-right-radius: 70px;
    border-bottom-left-radius: 70px; */
    border-radius: 60px;
    box-shadow: 1px 1px 15px 1px;
    margin: 20px;
    margin-bottom: 30px;
}
.infor p {
    margin-left: 35px;
    font-family: 'Bebas Neue', cursive;
}
.infor > hr {
    margin: 7%;
}
.hero-main {
    margin-left: 70px;
    margin-right: 100px;
    margin-top: 70px;
}
.hero-main > p {
    font-size: 20px;
    line-height: 40px;
    margin-top: 50px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}
.hero-main > h1 {
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}



/* ##### about-skill-container ##### */
.about-skill-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(223, 229, 233, 0.966);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.about-skill-container > h1 {
    margin-top: 70px;
    font-size: 40px;
    margin-left: 90px;
    font-family: 'Bebas Neue', cursive;
}
.card-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}
.card-layout >ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.card {
    background-color: rgb(255, 255, 255);
    margin-right:10% ;
    border-radius: 30px;
    margin-bottom: 50px;
    width: 500px;
    height: 150px;
    box-shadow: 1px 1px 15px 1px;
}
.card h3 {
    text-align: center;
}
.card strong {
    color: rgb(6, 6, 243);
}
.card  img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
}
.card hr {
    margin: 7%;
}
.card  p {
    margin-right: 35px;
    text-align: justify;
    font-family: 'Bebas Neue', cursive;
    
}


/* ### Hobby ### */
.about-hobby-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(223, 229, 233, 0.966);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.about-hobby-container li {
    list-style-type: none;
}
.about-hobby-container {
    display: flex;
    flex-direction: column;
}
.about-hobby-container > h1 {
    font-size: 40px;
    margin-left: 80px;
    margin-bottom: 70px;
    font-family: 'Bebas Neue', cursive;
}
.play-type {
    display: flex;
    flex-direction: row;

    background-color: rgb(255, 255, 255);
    margin-right:10% ;
    margin-left: 10%;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 15px 1px;
}
.play-type img {
    width: 80px;
    height: 80px;
    margin: 20px;
}

.play-type h3 {
    text-align: center;
}
.play-type p{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Ubuntu', sans-serif;
}


/* ## Footer ## */
.footer-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(223, 229, 233, 0.966);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    
}
.footer-container li {
    list-style-type: none;
}
.contact {
    display: flex;
    flex-direction: row;
}
.contact-card {
    margin-top: 70px;
}
.contact > h3 {
    margin-left: 100px;
    margin-top: 220px;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}
.contact > hr {
    margin-left: 100px;
    margin-top: 70px;
}
.media-card {
    display: flex;
    flex-direction: row;
    margin-right: 500px;
}
.media-card img {
    width: 60px;
    height: 60px;
    margin-right: 40px;
    box-sizing:red 1px 1px 5px 1px;
}




.copyright {
    background-color: rgb(78, 78, 194);
    height: 60px;
    text-align: center;
}
.copyright > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;

}
.copyright  li{
    list-style-type: none;
}
.copyright > ul hr {
    margin: 20px;
}
.copyright > ul hr {
    margin-top: 0%;
    margin-bottom: 0%; ;
}